# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\learnPY\Logistic_Regression\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
